.container{
  position: relative;
  height: 700px;
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
}
ul {
  list-style: none;
}

.container .card{
  position: relative;
  max-width: 300px;
  height: 215px;
  background: white;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}

.container .card:hover{
  height: 500px;
}

.container .card .imgBx{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .imgBx img{
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content{
  visibility: visible;
  opacity: 1;
  margin-top: -60px;
  transition-delay: 0.1s;
}
.container .card .content .topicos{
  margin: 10px 0;
  font-size: 2rem;
}

.container .card .content .topicos li{
  margin: 10px 0;
}
h2{
  font-size: 2.5rem;
  color: var(--orange);
}
