
header{
  padding: 10px 0;
  text-align: center;
}

a,
a:hover {
    color: #000;
    text-decoration: none;
}
#watermark{
  width: 80%;
  position: absolute;
  top: 25%;
  left: 10%;
  opacity: 0.15;
  filter: blur(5px);
}
.container {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    background-color: rgba(69, 69, 69, 0.5);
    font-size: 1.3rem;
    text-align: center;
    width: 30%;
    height: 25rem;
    transition: .3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card-title{
  font-size: 2rem;
}
ul hr{
  width: 60%;
  margin:auto;
  background-color: rgb(255, 72, 0);
  height: 3px!important;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:40px;
  padding: 0!important;
}