
header{
    padding: 10px 0;
    text-align: center;
  }
  body{
      background-color: darkgray;
  }
  #watermark{
    width: 80%;
    position: absolute;
    top: 25%;
    left: 10%;
    opacity: 0.15;
    filter: blur(5px);
  }
.week{
 font-size: 1.7rem;
}
#VR{
    font-size: 4.5rem;
    transform: rotate(90);
}
#prev-slide{
    font-size: 3rem;
}
#next-slide{
    font-size: 3rem;
}
